*{
   border: 1px solid crimson;
}



h1{
   color: cyan;
}

body{
background-color: rgb(0, 0, 0);
}


.caja{
background: blue;
height: 400px;
width: 400px;
}

.hijo{
 width: 50%;
 height: 50%;
 background: yellow;
}

.bg img{
   background-image: url(./img/OIP.webp);
   background-position: center;
   background-size: cover;
}